<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="courses">
        <h2>All Courses</h2>

        <% if (courses.length > 0) { %>
            <% courses.forEach(course => { %>
            <div class="custom-card course-card mb-6">
            <a class="single" href="/courses/<%= course._id %>">
            <h3 class="name"><%= course.name %></h3>
            <p class="description"><%= course.description %></p>
            <p class="subject"><%= course.subject %></p>
            <p class="credits"><%= course.credits %></p>
            </a>
            </div> 
           <% }) %>
        <% } else { %>
        <p>There are no courses to display...</p> 
        <% } %>
        
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>